* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--secondary-font);
    font-weight: 400;
    line-height: 1.5;
}

html, body {
    height: 100%;
}

.html {
    scroll-behavior: smooth;
  }

a {
    color: rgb(59, 167, 235);
    text-decoration: none;
    font-weight: 600;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

#headwrapper {
    background-color:black;
}

.base-container {
    max-width: 70em;
    margin: 4.2em auto 0 auto;
    flex: 1 0 auto;
}

.link-block {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}