* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: rgb(59, 167, 235);
    text-decoration: none;
    font-weight: 600;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

#headwrapper {
    background-color:black;
}

.base-container {
    max-width: 70em;
    margin: 4.2em auto 0 auto;
}

.link-block {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}